<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017186877485-191mmr205hqb3n6rjncjeed460kpi9lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017186877485-191mmr205hqb3n6rjncjeed460kpi9lg</string>
	<key>API_KEY</key>
	<string>AIzaSyBCwu58d4jOZ2xVlDkBrQ5jjeia7gejvlg</string>
	<key>GCM_SENDER_ID</key>
	<string>1017186877485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youthfield</string>
	<key>PROJECT_ID</key>
	<string>youthfield-a4fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>youthfield-a4fd8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017186877485:ios:72f9757cdef4ee8b9cb8a4</string>
</dict>
</plist>